# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Local env
.env
.env.local

# Logs
logs/
*.log

# OS / editor
.DS_Store
.vscode/
.idea/

# Build / output
dist/
coverage/

# Misc
*.pem